<h2>Admin - This will edit/update questions</h2>

<% @questions.each do |question| %>
  <div>
  <% label_tag :text %>
  <textarea rows="4" cols="50"> <%= text_area_tag :text, question.text %>
  </textarea>
</div>
  <div>Yes? <%= question.yes_response %></div>
  <div>No? <%= question.no_response %></div>
  <div>Prequalifier: <%= question.prequalifier %><div>
  <div>Created at: <%= question.created_at %> Updated at: <%= question.updated_at %></div>
  <br>
<% end %>