<h2>Admin - This will show the form to create new questions</h2>

<%= form_tag '/questions_index', method: :post do %>

<div>
  <%= label_tag :text %>
  <%= text_area_tag :text, "Question" %>
</div>

<div>
  <%= label_tag :yes_response %>
  <%= text_field_tag :yes_response, '',:id=> "question_field_tag" %>
</div>

<div>
  <%= label_tag :no_response %>
  <%= text_field_tag :no_response %>
</div>
HOW TO PASS PREQUALIFIER SELECTION?
<div class="container">
  <div class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Select Prequalifier<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Prequalifier 1</a></li>
      <li><a href="#">Prequalifier 2</a></li>
    </ul>
  </div>
</div>
  
<button class="btn btn-danger"><% submit_tag %>Add Question</button>
<% end %>
