<div class="panel-body center">
  <div class="faq-box-title">
    <%= label_tag :question_text %>
    <%= tinymce %>
    <%= text_area_tag :question_text, @faq.question_text, :class=> "tinymce" %>
  </div>

  <div class="faq-box-title">
    <%= label_tag :answer_text %>
    <%= text_area_tag :answer_text, @faq.answer_text, :class=> "tinymce" %>
  </div>
</div>

      
    
