<div class="faqs-intro"><p>Based on your answers to our questions, it appears you do not qualify for "Innocent Spouse Relief" for taxes due. But, even if you do not qualify for Innocent Spouse Relief, do not worry! There are other options available that may provide you with tax relief.
<br>
<br>
Please review the eight frequently asked questions below to see which may apply to you. Then click on any questions you would like to see answers to for additional information, including next steps you can take to address federal income taxes the IRS claims you owe that you cannot afford to pay.</p></div>
<div class="container" id="faq-panel">

<% @faqs.each do |q|%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%=q.id%>">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=q.id%>" aria-expanded="false" aria-controls="collapse<%=q.id%>" class="collapsed">
              <%= raw q.question_text %>
            </a>
          </h4>
        </div>

      <div id="collapse<%=q.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=q.id%>" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <%= raw q.answer_text %>
        </div>
      </div>
    </div>
  </div>

<% end %>

</div>