<!DOCTYPE html>
<html>
<head>
  <title>TaxReliefApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" id="navbar-container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <%= image_tag "john-marshall-law-logo.png" %>
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="#">Tax Relief Qualification</a></li>        
         </ul>
      </div>
    </nav>
  </div>
  
  <div class="quick-close">
    <button type="button" class="btn btn-default btn-lg" id="large-button" href="#">Quick Close</button>
  </div>

  <div class="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid" id="navbar-container">
        <div class="navbar-header" id="footer-text">
          <p>The Difference Engine &copy 2016</p>
        </div>
      </div>
    </nav>
  </div>

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= message %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
